@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

/* ======================== CSS Rule #1 */
html {
  background-color: white;
  padding-left: 20px;
}

/* ======================== CSS Rule #2 */
h1 {
  font-family: "Poetsen One", sans-serif;
}

button {
  background-color: red;
  padding: 10px;
  margin: 5px;
  border: none;
  cursor: pointer;
}
// i wanna make the images fade in so i think i have to start them out as invisible or something

.memory-image {
  display: none;
  width: 300px;
}